*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}


body{
	background-color:#D3D3D3;
}

.bgimg{
	background-image:url(../images/4.jpg);
	background-attachment:fixed;
	background-position:center;
	background-size:cover;
}

h1{
	text-align:center;
	text-shadow:5px 0 3px rgba(13, 13, 13, 0.44);
	font-size:50px;
}

.chessboard{
	width:800px;
	height:800px;
	background-color:grey;
	margin:auto;
	box-shadow:0 0 10px rgba(13, 13, 13, 0.44);
}

.boxwhite{
	width:100px;
	height:100px;
	background-color:white;
	float:left;
	color:black;
	text-align:center;
	line-height:100px;
	font-size:80px;
	
}


.boxblack{
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	color:white;
	text-align:center;
	line-height:100px;
	font-size:80px;
}

	